.bars {
  margin-top: 12px;
  position: absolute;
  left: 15px;
}

@media (max-width: 767px) {
  #navbar-collapse {
    -webkit-transition: height 0.4s;
    -moz-transition: height 0.4s;
    -ms-transition: height 0.4s;
    -o-transition: height 0.4s;
    transition: height 0.4s;
    overflow: hidden;
    height: 0;
  }

  #navbar-collapse.open {
    height: 50px;
  }

}

.navbar-login {
  color: white;
  white-space: nowrap;
  -ms-text-overflow: ellipsis;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
  position: absolute;
  right: 110px;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
  font-size: 18px;
  line-height: 20px;
  cursor: pointer;
}

.navbar-login:hover, .navbar-login:active, .navbar-login:focus, .navbar-login:visited {
  color: #ffffff;
}

@media (min-width: 767px) {
  .bars {
    display: none;
  }
}

@keyframes miniBounce {
  0%   {transform: scale(1);}
  25%  {transform: scale(0.95);}
  50%  {transform: scale(0.90);}
  75%  {transform: scale(0.95);}
  100% {transform: scale(1);}
}

.bars:active {
  animation: miniBounce 0.2s;
  -webkit-animation-iteration-count: 1;
  -moz-animation-iteration-count: 1;
  -o-animation-iteration-count: 1;
  animation-iteration-count: 1;
}
