<div class="overlay" #overlay></div>
<div class="full-page" #fullPage (click)="closeLoginPage($event)">
  <div class="login-page">
    <div class="card" style="margin-bottom: 0">
      <div class="body">
        <h5 class="text-info text-center">
          Sign in to start your session
        </h5>
        <form id="sign_in" (submit)="loginSubmit($event)">
          <div class="input-group">
            <span class="input-group-addon">
                <i class="material-icons">person</i>
            </span>
            <div class="form-line">
              <input type="text" value="{{username}}" class="form-control" name="username" placeholder="Username" required autofocus
                     focusedInput autocomplete="off">
            </div>
          </div>
          <div class="input-group">
            <span class="input-group-addon">
                <i class="material-icons">lock</i>
            </span>
            <div class="form-line">
              <input type="password" class="form-control" name="password" placeholder="Password" required focusedInput>
            </div>
          </div>
          <div class="row">
            <div class="col-xs-8 p-t-5">
              <input type="checkbox" name="rememberme" id="rememberme" class="filled-in chk-col-light-blue">
              <label for="rememberme">Remember Me</label>
            </div>
            <div class="col-xs-4">
              <button *ngIf="!submit; else spinnerBtn" class="btn btn-block btn-info waves-effect" type="submit" name="submit">SIGN IN</button>
              <ng-template #spinnerBtn>
                <button class="btn btn-block btn-info waves-effect" name="spinner" type="button" #spinnerBtn>
                  <div class="spinner">
                    <div class="bounce1"></div>
                    <div class="bounce2"></div>
                    <div class="bounce3"></div>
                  </div>
                </button>
              </ng-template>
            </div>
          </div>
          <div class="row m-t-15 m-b--20">
            <div class="col-xs-6">
              <a id="register" #register>Register Now!</a>
            </div>
            <div class="col-xs-6 align-right">
              <a href="/">Forgot Password?</a>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
