.user-info {
  overflow: hidden;
  -webkit-transition: 0.25s;
  -moz-transition: 0.25s;
  -ms-transition: 0.25s;
  -o-transition: 0.25s;
  transition: 0.25s;
  height: 135px;
}

.user-info.closed {
  padding: 0;
  height: 0;
}

.legal {
  height: 73px;
}

@Media (max-width: 767px) {
  #leftsidebar {
    left: -300px;
  }

  #leftsidebar.show {
    left: 0;
  }
}

@Media (min-width: 768px) {
  #leftsidebar {
    left: 0px;
  }
}

.userPicture {

}

.border-image {
  height: 70px;
  width: 70px;
  border-radius: 50%;
  border: 3px solid white;
  box-shadow: 0px 0px 3px 1px rgba(0,0,0,0.3);
  display: flex;
  align-items: center;
  overflow: hidden;
  justify-content: center;
}

.sidebar .user-info .info-container {
  top: 0;
}
