<div class="text-center">
			<pre id="404 ascii" style="line-height: 14px;"> 
 __ __       __   __ __                     __  __          __        ____                            __     
/\ \\ \    /'__`\/\ \\ \                   /\ \/\ \        /\ \__    /\  _`\                         /\ \    
\ \ \\ \  /\ \/\ \ \ \\ \                  \ \ `\\ \    ___\ \ ,_\   \ \ \L\_\___   __  __    ___    \_\ \   
 \ \ \\ \_\ \ \ \ \ \ \\ \_       _______   \ \ , ` \  / __`\ \ \/    \ \  _\/ __`\/\ \/\ \ /' _ `\  /'_` \  
  \ \__ ,__\ \ \_\ \ \__ ,__\    /\______\   \ \ \`\ \/\ \L\ \ \ \_    \ \ \/\ \L\ \ \ \_\ \/\ \/\ \/\ \L\ \ 
   \/_/\_\_/\ \____/\/_/\_\_/    \/______/    \ \_\ \_\ \____/\ \__\    \ \_\ \____/\ \____/\ \_\ \_\ \___,_\
      \/_/   \/___/    \/_/                    \/_/\/_/\/___/  \/__/     \/_/\/___/  \/___/  \/_/\/_/\/__,_ /
                                                                                                             
                                                                                                             </pre>
</div>