.full-height {
  height: calc(100vh - 100px);
  position: relative;
  width: 100%;
}

@media (min-width: 767px) {
  .height-1 {
    height: 120px;
  }

  .height-2 {
    height: calc(100% - 120px);
  }
}

md-table {
  -webkit-box-shadow: 0 2px 10px rgba(0,0,0,.2);
}
