<div class="row clearfix">
    <div class="full-height">
        <div class="parent">
            <mat-form-field style="width: 65%;">
                <!--TODO: activate & code reactive search -->
                <input matInput placeholder="Search for contacts" value="" disabled>
            </mat-form-field>
            <div style="width: 5%; text-align: center;">
                <span>Or</span>
            </div>
            <div style="width: 30%">
                <button mat-raised-button style="width: 100%; color: white;" class="btn-info" (click)="openAddContactDialog()">Add Contacts</button>
            </div>
        </div>
        <mat-divider></mat-divider>
        <mat-grid-list cols="4">
            <mat-grid-tile *ngFor="let user of users">
                <app-contact-card class="contact-card" [user]="user"></app-contact-card>
            </mat-grid-tile>
            <mat-grid-tile>
                <div class="contact-card" (click)="openAddContactDialog()">
                    <mat-card wave>
                        <i class="material-icons">add</i>
                    </mat-card>
                </div>
            </mat-grid-tile>
        </mat-grid-list>
    </div>
</div>